@charset "UTF-8";


.title{
	font-size: 36px;
	font-weight: bold;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-top: 3px solid;
}

.table th,
.table td {
  padding: 8px 12px;
  text-align: center;
}

.table th {
	border-bottom: 1px solid;
	vertical-align: middle;
	padding: 10px;
}

.table tr{
	border-bottom: 1px solid;
}
.table tr:nth-child(even) {
}
.table td{
	border-bottom: 1px solid;
	vertical-align: middle;
}
/* 체크박스 스타일 */
.table input[type="checkbox"] {
  margin: 0;
}

thead{
	display: table-header-group;
    vertical-align: middle;
    border-bottom: 1px solid;
    border-color: black;
}

/* 테이블 아래의 페이징 스타일 */
.text-center {
  text-align: center;
  margin-top: 10px;
}

.text-center a {
  margin: 0 5px;
}

/* 버튼 스타일 */
.btn {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border: 1px solid;
  border-radius: 0;
}

input[type=checkbox]{
	color: black;
}

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}

.btn-outline-dark {
  background-color: transparent;
  border: 1px solid #343a40;
  color: #343a40;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: white;
}

@media (max-width: 768px) {
  .table {
    width: 100%; /* 테이블의 너비를 100%로 설정하여 줄어들게 합니다. */
  }

  .table th,
  .table td {
    padding: 5px 8px;
  }

  .btn {
    padding: 4px 10px;
    font-size: 12px;
  }
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0;
  position: relative;
  top: 2px;
  accent-color: black;
}
