@charset "UTF-8";

*{
	font-family: neue-haas-grotesk-display, 'Noto Sans KR' ,sans-serif;
	font-style: normal;
	line-height: 1.1;
}

#footer li{
	list-style: none;
}
#footer a{
	text-decoration: none;
}