@charset "UTF-8";

li{
	list-style: none;
	margin-top: 30px;
}

#main-poster{
	height: 100vh !important;
}

#frame{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: left top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url("//postershop.kr/web/product/medium/202106/ca652c60857299dcbeb554c77a0f07c3.png"); */
    box-shadow: rgba(0, 0, 0, 0.3) 11px 35px 21px 0px;
}

#wrap{
	position: relative;
    top: 50%;
    display: block;
    max-width: 1080px;
    margin: 0 auto;
}
#slogan{
	position: sticky;
	top: 0;
    left: 0;
    width: 100%;
	background-image: linear-gradient(to bottom,#fff 45%,rgba(255,255,255,0.001) 90%);
	z-index: 10px;
}

