* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.myPageContent {
	font-size: 13px;
}

.myPageList li {
	margin-bottom: 20px;
}

.myPageList li a {
	color: black;
	font-size: 36px;
	text-decoration: none;
}