@charset "UTF-8";

#orderForm{
	font-size: 13px;
	width: 350px;
}
table{
	table-layout: fixed;
}

tr{
	padding: 10px;
}
th{
	width: 90px;
	margin: 10px;
}

input {
}

.title{
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
}
.orderItems{
	margin-bottom: 15px;
}
.orderItemImage{
	margin-right: 5px;
}

#paymentInfo td{
	padding: 8px 90px 8px 0;
	text-align: left;
}

#orderForm div{
	margin-top: 8px;
}


#accumulationBenefits td{
	padding: 6px 90px 6px 0;
	text-align: left;
}