* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.productWrapper {
	max-width: 1080px;
	width: 80%;
	height: auto;
	margin-bottom: 100px;
}

#productImage {
	width: 40%;
	height: auto;
	padding: 0;
	margin-right: 30px;
}

#productInfoAndSelect {
	padding: 30px 0;
}

#productName {
	font-size: 30px;
	font-weight: bold;
	border-bottom: 1.3px solid #000000;
	padding-bottom: 30px;
	margin: 0px;
}

#selectedItemTable, #productDetailTable, #totalPriceGroup {
	width: 100%;
}

.productDetailContent {
	margin: 120px 0px;
	font-size: 13px;
}

#productDetailTable tr {
	border: none;
	border-bottom: 1.3px solid black;
	height: 38px;
}

.frameGroup {
	margin-bottom: 30px;
}

.btnGroup a {
	background-color: black;
	color: white;
	border-radius: 0;
}

.btnGroup a:hover {
	color: gold;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#reviewBoard, #qnaBoard {
	width: 80%;
	max-width: 1080px;
	height: auto;
	margin-bottom: 50px;
}

#reviewBoardTitle, #qnaBoardTitle {
	font-size: 36px;
	border: none;
	font-weight: bold;
	border-bottom: 3px solid black;
	padding: 10px 10px;
}

.reviewBoardItem  {
	border: none;
	border-bottom: 1.3px solid black;
	height: 300x;
	padding: 15px 10px;
}

.qnaBoardHead {
	font-weight: bold;
	border: none;
	border-bottom: 1.3px solid black;
	margin: 0;
	padding: 10px;
	height: 38x;
}

.qnaBoardItem {
	border: none;
	border-bottom: 1.3px solid black;
	height: 38x;
	margin: 0;
	padding: 15px 10px;
}

#totalPriceGroup {
	display: flex;
	justify-content: right;
	margin-bottom: 50px;
}

#selectedItemTable a, #selectedItemTable a:hover {
	color: black;
	text-decoration: none;
}

#productDetailTable th {
	width: 30%;
}

#productDetailTable td {
	width: 50%;
}

.star {
	color: gold;
}
.btnGroup, .eventBtn {
	width: 100%;
}

.writeBtn {
	background-color: black;
	color: white;
	border-radius: 0;
	margin: 15px 25px;
}

.writeBtn:hover {
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);	
}

#explainImageList, #frameDetailWrapper {
	width: 80%;
}

#frameDetailWrapper {
	margin-bottom: 100px;
}

.explainImage, #frameDetail {
	max-width: 1080px;
	width: 100%;
	height: auto;
}