* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#contents {
    font-weight: 500;
    line-height: 1.7;
    box-sizing: border-box;
    padding: 0;
    border: none;
    max-width: 1080px;
    min-height: calc(100vh - 393px);
    margin: 0 auto;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

#productList {
	list-style: none;
    vertical-align: top;
    column-count: 3;
    column-gap: 13px;
    padding: 0 30px;
}

#productList > li {
	position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-bottom: 30px;
    padding-top: 20px;
    perspective: 1000px;
}

.thumbnail {
	transition-duration: 750ms;
	width: 100%;
	height: 100%;
}

.imgOnList {
	position: relative;
	max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.productDetail {
	position: absolute;
    top: 20px;
    left: 0;
    bottom: 30px;
    right: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 100%;
    background:black;
    background-color: rgba(0,0,0,0.5 );
}

.productDetailDiv {
	position: relative;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.productDetailDiv2 {
	width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.productDetailDiv2 div {
	color:white;
	font-weight: bold;
}